:root {
  --bg-color-1: #2d831e;
  --bg-color-2: #299721;
  --bg-color-3: #24e02d;
  --primary-color: #11681d;
  --accent-color: #a6f533;
  --base-color: #ffffff;
  --frame-color: rgba(0, 0, 0, 0.54);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat-Light;
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: Montserrat-Black;
  src: url("../fonts/Montserrat/Montserrat-Black.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Raleway-Regular;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url("../fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: Raleway-Bold;
  src: url("../fonts/Raleway/Raleway-Bold.ttf");
}

body {
  margin: auto;
  background: var(--primary-color);
  background: -webkit-linear-gradient(
    0deg,
    var(--bg-color-1),
    var(--bg-color-2),
    var(--bg-color-3)
  );
  background: -o-linear-gradient(
    0deg,
    var(--bg-color-1),
    var(--bg-color-2),
    var(--bg-color-3)
  );
  background: -moz-linear-gradient(
    0deg,
    var(--bg-color-1),
    var(--bg-color-2),
    var(--bg-color-3)
  );
  background: linear-gradient(
    0deg,
    var(--bg-color-1),
    var(--bg-color-2),
    var(--bg-color-3)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo img {
  margin-bottom: 1rem;
}

#logo .title {
  display: flex;
  font-family: "Raleway-Bold";
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

#logo .title .dolar {
  color: var(--base-color);
}

#logo .title .bot {
  color: var(--accent-color);
}

#content-frame {
  background: var(--frame-color);
  color: var(--base-color);
  font-family: "Raleway-Regular";
  max-width: 50%;
  min-width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  opacity: 0.9;
  padding: 2rem;
  overflow-y: visible;
  overflow-x: hidden;
}

#content-frame::-webkit-scrollbar {
  width: 0.5em;
  
}

#content-frame::-webkit-scrollbar-track{
   margin: 1rem;
 }

#content-frame::-webkit-scrollbar-thumb {
  background-color: var(--frame-color);
  border-radius: 1rem;
}

#content-frame .title {
  font-size: 1.8rem;
  font-family: "Raleway-Bold";
  margin-bottom: 2rem;
}

#content-frame .h1 {
  font-size: 1.3rem;
  font-family: "Raleway-Regular";
  font-weight: 700;
  margin-bottom: 0.8rem;
}

#content-frame .h2 {
  font-size: 1.1rem;
  font-family: "Raleway-Regular";
  font-weight: 600;
  margin-bottom: 0.5rem;
}

#content-frame .h3 {
  font-size: 1rem;
  font-family: "Raleway-Regular";
  font-weight: 600;
  margin-bottom: 0.5rem;
}

#content-frame .text {
  font-size: 0.9rem;
  font-family: "Raleway-Regular";
  text-align: justify;
}

#content-frame li:not(:last-child) {
  margin-bottom: 1rem;
}

#content-frame .linebreak {
  margin-bottom: 2rem;
}

#content-frame .link {
  color: var(--base-color) !important;
  text-decoration: none;
  font-size: 0.9rem;
}

#content-frame .link:hover {
  color: var(--accent-color) !important;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway-Regular";
  font-size: 0.7rem;
  padding-bottom: 1.5rem;
  line-height: 1.3rem;
  color: var(--base-color);
}

#footer .terms-privacy {
  display: flex;
  justify-content: space-evenly;
  width: 16rem;
}

.link {
  color: var(--base-color) !important;
  text-decoration: none;
  font-size: 0.8rem;
}

.link:hover {
  color: var(--accent-color) !important;
}

@media (max-width: 900px) {
  #logo {
    margin-top: 5rem;
  }

  #logo img {
    height: 150px;
  }

  #logo .title {
    font-size: 3rem;
  }
}
