{
    "apiBaseUrl": "YOUR_BASE_URL_HERE",
    "apiKey": "YOUR_API_KEY_HERE",
    "apiRequestCacheMinutes": 30,
    "taxPercent": 65,
    "github": {
        "app": "https://github.com/guidospadavecchia/DolarBotApp",
        "authors": [
            {
                "name": "",
                "link": ""
            }
        ]
    },
    "discordUrl": ""
}